$base-font:$lato;
img{
    max-width: 100%;
}
body{
    font-family:$base-font;
}
a{
    text-decoration: none;
    color: $gray-900;
}

//CUSTOM CLASSES

.span-margin-fix{
        padding-top: 43px;
    //media start
    @media(min-width:424px){
        padding-top: 49px;
    }
    @media(min-width:576px){
        padding-top: 59px;
    }
    @media(min-width:768px){
        padding-top: 64px;
    }
    @media(min-width:992px){
        padding-top: 80px;
    }
}

.section-title{
    font-family: $bodoni;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 4.5rem;
    text-transform: uppercase;

    &:after{
        content: '';
        height: 1px;
        width: 74px;
        background-color:$mademoiselle-color;
        display: block;
        position: relative;
        margin-top: 30px;
        margin-bottom: 42px;
    }
}

