$social-icons-color:#ECD9D9;
$footer-text:$gray-900;
footer{
    padding: 49px 0 25px 0;
    .social{
        a{
            color: $social-icons-color;
            margin: 0 15px;
            font-size: 2rem;
            &:hover{
                animation: hithere 1s ease;
            }
        }
    }
    // social end
    .copyright{
        margin-top: 19px;
        color: $footer-text;
        font-size: 1.2rem;
        line-height: 4.1rem;
        a{
            color: $footer-text;
        }
    }
    //.copyright end
}
//footer end